<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819117681595-fuqv792gk5v9flk7angj3bl77b442jj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819117681595-fuqv792gk5v9flk7angj3bl77b442jj9</string>
	<key>API_KEY</key>
	<string>AIzaSyAe8C0kq11-W69JFlTLQNU732P5m7RYlmE</string>
	<key>GCM_SENDER_ID</key>
	<string>819117681595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MykhailoNovosad.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-accb1</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-accb1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819117681595:ios:be4e7f3e826d398484329e</string>
</dict>
</plist>